.titleUsername{
    color: #555758!important;
    padding-left: 15px;
    padding-bottom: 30px;
}
.imgOpensource {
    width: 100%;
    height: 100px;
}
#blocksContainer{
    padding: 1vh 6vh;
}
.errCenter{
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    max-width: 700px;
    width: 100%;
}
#blocksContainer>h2{
    border-radius: 5px;
    padding: 2vh 0vh;
    text-align: center;
    text-decoration: none;
    background-color: #b8daff;
    color: #163250;
}
.imgenBlocknohace{
    width: 95%;
    height: 95%;
    border-radius: 10px;
}
#infoWitness{
    text-align: center;
}
#cardHeed{
    border-bottom: #000000 solid 1px;
    margin-bottom: 10px;
}
#cardsBlocks{
    background: #b8daff;
    margin-bottom: 10px;
    text-align: center;
}
.trxtag {
    font-size: 11px;
    float: right;
    margin: -1px 0 0 8px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
p{
    margin: auto;
}
tbody{
    width: 100%;
}
#infoTrx>.tabletrx{
    margin-top: 20px;
    margin-bottom: 20px;
}
.tablestyle{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    display: flow-root;
    width: 100%;
    overflow-x: auto;
}
.alertp {
    position: relative;
    padding: .25rem 0.75rem;
    margin-bottom: 0.55rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 15px;
}
.colorTrxIdPage{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border: round;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}
.titletable{
    background-color: #004085;
    text-align: center;
    color: white;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.trtitletable{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.centerImageL{
    position:fixed;
    width:50px;
    height:50px;
    left:50%;
    top:50%;
}
.opensourcecss{
    padding: 20px;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 10px;
    width: 100%;
}
.miniature{
    color: #114f92a6;
    font-size: 0.8em;
}
.textoajust{
    word-wrap: break-word;
}
.spanOpacity{
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.spanOpacity:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.mboton{
    margin-bottom: 0px;
}
th{
    text-align: left;
    border-bottom: 1px solid #000000;
}
td{
    text-align: right;
    border-bottom: 1px solid #000000;
}